body {
	color: #222222;
	background: #ffffff;
	padding: 15px 5px 5px 5px;
}

.btn__toggle {
	font-size: 17px;
	padding: 5px;
	color: #000000;
	background-color: #ffffff;
	border: 3px solid #8a2be2;
	border-radius: 25px;
	font-weight: 600;
}